#header{
    background-image: url("../img/headerbackground.jpeg");
    height: 900px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin: auto;
    padding: 0px;
}
.header-title{
    font-size: 170px;
    font-family: $primary-font;
    position: absolute;
    top: 50%;
    right: 50%;
color:white;
text-shadow: 2px 2px #000000;
}
.header-subtitle{
    font-size:100px;
    font-family: $primary-font;
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 2px 2px #ffffff;
}

section{
font-family: $content-font;
padding: 25px;
}
#headertwo{
height: 500px;
background-image: url("../img/headertwo.jpeg");
background-repeat:no-repeat;
background-attachment:fixed;
margin: auto;
font-family: $primary-font;
font-size: 100px;
color: white;
}
.about{
    margin-right:5px;
  position:relative;
  float:right;
  text-shadow: 2px 2px #000000;
}
.secondpic{
    padding: 30px;
}
#second-section{
    margin-left: auto;
    margin-right: auto;
}
#headerthree{
    height: 500px;
background-image: url("../img/headerthree.jpeg");
background-repeat:no-repeat;
background-attachment:fixed;
margin: auto;
font-family: $primary-font;
font-size: 100px;
color: black;
}
.examples{
    margin-left:5px;
  position:relative;
  float:left;
  text-shadow: 2px 2px #6d4e4e;
}